* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    position: relative;
    outline:none 
}

body {
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background-color: #43626b;
    color: #d8d8d8
}

div {
    text-align: center;
    position: relative;
    top: -70px;
}

footer,h2 {
    text-align: center;
    height: 100px;
    
}

aside {
    text-align: right;
}

.hello { 
    color: #000000;
    padding: 20px;
    margin-bottom: 20px;;
    width: 100%;
    font-size:x-large;
}




