* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    position: relative;
    outline:none 
}

body {
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background-color: #000000;
    color: #9ad79b
}

div {
    text-align: center;
}

footer,h2 {
    text-align: center;
    height: 100px;
    
}



aside {
    text-align: right;
}

.hello { 
    
    color: #9ad79b;
    padding: 80px;
    position: relative;
    bottom: 0;
    width: 100%;
}




